.modal {
  @extend .container;
  padding: 48px 20px 40px 20px;
  max-width: 280px;
  display: flex;
  justify-content: center;
  background: $defaultColor;
  border: none;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  position: relative;
  @include tablet {
    max-width: 704px;
    padding: 40px;
  }
  @include desktop {
    max-width: 806px;
    padding: 40px 12px;
  }

  ::backdrop {
    background-color: $backdrop;
  }

  &__close-btn {
    min-height: 30px;
    min-width: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    fill: $titleColor;
    cursor: pointer;
    transform: fill;
    transition-property: $duration;
    transition-timing-function: $timingFunction;

    &:hover,
    &:focus {
      fill: $descritiopnColor;
    }
  }

  .movie {
    &__container {
      display: flex;
      flex-direction: column;
      max-width: 240px;

      @include tablet {
        max-width: 624px;
        flex-direction: row;
        gap: 68px;
      }
      @include desktop {
        max-width: 780px;
        gap: 16px;
      }
    }

    &__poster {
      margin-bottom: 20px;
      @include tablet {
        margin-bottom: 0px;
      }
      @include desktop {
        margin-bottom: 0px;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
    }

    &__title {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: $mediumFontSize;
      line-height: $largeLineHeight;
      color: $titleColor;
      text-transform: uppercase;
      @include desktop {
        font-size: 30px;
        line-height: 35px;
      }
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: $smallFontSize;
      line-height: $defaultLineHeight;
      @include tablet {
        justify-content: flex-start;
        gap: 40px;
      }

      &__list {
        color: $titleColor;

        &--name {
          color: $propertyColor;
        }
      }

      &__item {
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 0px;
        }

        &--vote {
          width: 36px;
          height: 16px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          color: $defaultColor;
          background: $descritiopnColor;
          margin-bottom: 0px;
        }

        &--uppercase {
          text-transform: uppercase;
        }
      }
    }

    &__about {
      font-weight: 500;
      font-size: $smallFontSize;
      line-height: $defaultLineHeight;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &__text {
      font-weight: 500;
      font-size: $smallFontSize;
      line-height: $mediumFontSize;
      margin-bottom: 20px;
    }
  }
}
