$defaultFontStyle: 'Roboto', sans-serif;
$smallFontSize: 0.8rem;
$defaultFontSize: 0.9rem;
$mediumFontSize: 1.2rem;
$largeFontSize: 1.4rem;
$headFontSize: 1.9rem;
$smallLineHeight: 0.9rem;
$defaultLineHeight: 1rem;
$mediumLineHeight: 1.2rem;
$largeLineHeight: 1.5rem;
$headLineHeight: 2.2rem;
$defaultColor: rgba(255, 255, 255, 1);
$titleColor: rgba(0, 0, 0, 1);
$descritiopnColor: rgba(255, 107, 8, 1);
$propertyColor: rgba(140, 140, 140, 1);
$accentColor: rgba(255, 0, 27, 1);
$transparentColor: rgba(0, 0, 0, 0);
